---
import HomeIcon from "@icons/Home.astro";
import GithubIcon from "@icons/Github.astro";
import { Search } from "./Search";
---

<header class="[grid-area:header] rounded-lg flex items-center h-[48px]">
  <div class="flex items-center justify-start w-full px-5 gap-7">
    <a 
      href="https://github.com/NicolasEsc10"
      class="group rounded-full p-3 hover:bg-white/80 bg-white transition-all duration-300"
    >
      <GithubIcon />
    </a>
    <div class="flex items-center gap-2">
      <a 
        href="/"
        class="group rounded-full p-3 bg-primary hover:bg-secondary transition-all duration-300"
      >
        <HomeIcon class="text-zinc-400 group-hover:text-white transition-colors" />
      </a>

      <Search client:only="react" />
    </div>
  </div>
</header> 