---
import LibraryIcon from "@icons/Library.astro";
---

<div>
  <a
    href="/"
    class="flex gap-4 text-tertiary hover:text-white items-center transition-colors duration-300 p-3 font-bold"
  >
    <LibraryIcon />
    Tu biblioteca
  </a>
  
</div>
